name: wan
description: A new Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  flutter_swiper: ^1.1.5
  flutter_webview_plugin: ^0.3.0+2
  dio: ^2.1.0
  shared_preferences: ^0.5.1+2
  fluttertoast: ^3.0.3
  event_bus: ^1.0.3
  flutter_slidable: ^0.4.9
  cookie_jar: ^1.0.0
  devtools: ^0.0.14

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
   - lib/assets/images/ic_man.png
   - lib/assets/images/ic_woman.png
   - lib/assets/images/ic_empty.png
   - lib/assets/images/ic_empty_face.png
   - lib/assets/images/ic_error.png
   - lib/assets/images/ic_error_text.png
   - lib/assets/images/ic_avatar.png
   - lib/assets/images/bg_drawer_1.jpg
   - lib/assets/images/bg_drawer_2.jpg
   - lib/assets/images/ic_hamburg.png
   - lib/assets/images/ic_ice_cream.png
   - lib/assets/images/ic_kiwi.png
   - lib/assets/images/ic_nut.png
   - lib/assets/images/ic_pear.png
   - lib/assets/images/ic_bread.png
   - lib/assets/images/ic_milk.png
   - lib/assets/images/ic_pizza.png
   - lib/assets/images/ic_banana.png
   - lib/assets/images/ic_cherry.png
   - lib/assets/images/ic_chips.png
   - lib/assets/images/ic_chocolate.png
   - lib/assets/images/ic_donut.png
   - lib/assets/images/ic_macadamia_nut.png
   - lib/assets/images/ic_pistachio.png
   - lib/assets/images/ic_strawberry.png
   - lib/assets/images/ic_watermelon.png
   - lib/assets/images/ic_clear.png
   - lib/assets/images/ic_delete.png
   - lib/assets/images/ic_eye_close.png
   - lib/assets/images/ic_eye_open.png
   - lib/assets/images/ic_start_hollow.png
   - lib/assets/images/ic_start_solid.png
   - lib/assets/images/bg_wan.jpg
   - lib/assets/images/ic_arrow_right.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
